:root {
  /* fonts  */
  --font-inter: 'Inter', sans-serif;
  --font-space-g: 'Space Grotesk', sans-serif;

  /* colors  */
  --primary700: #4263eb;
  --primary500: #5b7af6;
  --primary400: #4f7fe5;
  --primary200: #dee9fb;
  --white: #ffffff;

  /* max-width  */
  --max-width: 140rem;
  --extra-width: calc(100% - var(--max-width));
  --full-bleed: calc(var(--extra-width) / 2)
}
