:root {

	/* fonts  */
	--font-poppins: "Poppins", sans-serif;
	--font-inter:  "Inter", sans-serif;
	--font-space-g:"Space Grotesk", sans-serif;

	/* colors  */
	--primary700: #4263eb;
	--primary500: #5b7af6;
	--primary400: #4F7FE5;
	--primary200: #DEE9FB;
	--white: #ffffff;

	/* max-width  */
	--max-width: 140rem;
	--extra-width: calc(100% - var(--max-width));
}
