@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  label {
    @apply block cursor-pointer;
  }

  input {
    @apply w-full;
  }

  .full-bleed {
    @apply px-[--full-bleed];
  }

  .auth-input {
    @apply border py-[14px] px-[19px] rounded-lg border-[#DEE2E6] mt-2 focus:border-brand-gray-100 focus:outline-none;
  }

  .primary-padding {
    @apply overflow-y-visible px-5 md:px-9 2xl:px-[--full-bleed];
  }

  .text-error {
    @apply text-red-600;
  }
}

::-webkit-scrollbar {
  height: 0px;
  width: 6px;
  transition: width 0.4s ease-in-out;
  border-radius: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #c2d8fc;
}
